@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form method="post">
    <div class="form-group">
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" name="OldPassword" required />
    </div>
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="NewPassword" required />
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm New Password:</label>
        <input type="password" id="confirmPassword" name="ConfirmPassword" required />
    </div>
    <button type="submit">Change Password</button>
</form>


