@page
@model LoginModel

<!-- Written by Kiara Vaz for CS4385.0W1, , Senior Design Project, Started October 3, 2024 -->
<!-- Net ID: KMV200000 -->

@{
    ViewData["Title"] = "Log In";
}

<h1>Log In</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div style="color: red;">@Model.ErrorMessage</div>
}

<form method="post">
    <div>
        <label for="netId">NetID:</label>
        <input type="text" id="netId" name="NetId" required />
    </div>
    <div>
        <label for="utdId">Password:</label>
    
        <input type="password" id="utdId" name="UtdId" required />
    </div>
    <button type="submit">Submit</button>
</form>