@page

@*
    Written by Darya Anbar for CS 4485.0W1, Senior Design Project, Started November 13, 2024.
    Net ID: dxa200020

    This file outlines the Logout Razor Page.
*@

@model StudentPR.Pages.LogoutModel
@{
    ViewData["Title"] = "Log In";
}

<!-- Displays Current User -->
<div style="color: green; margin-bottom: 10px;">
    You are currently logged in as @HttpContext.Session.GetString("StudentName")
</div>

<!-- Button to Log Out -->
<form method="post">
    <button type="logout">Logout</button>
</form>
